{% extends 'base.html' %}

{% block title %}About
{% endblock title %}
{% block aboutactive %}active
      {% endblock aboutactive %}
{% block css %}
<style>
.carousel-indicators .active {
      background-color: blue;
        }

      .col-md-3 img{

      width: 255px;
      height: 355px;
      }

      body .carousel-indicator li{
      background-color: blue;
      }

      body .carousel-indicators{
      bottom: 0;
      }

      body .carousel-control-prev-icon,
      body .carousel-control-next-icon{
      background-color: blue;
      }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
      <h1 class="text-center mt-5">Latest News</h1>
      </div>
      
         
            <div class="container">
                
              <!--Slideshow starts here -->
             
              
              
          <div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
              <ul class="carousel-indicators">
                <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
          
                 {% for i in range %}
                <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
                {% endfor %}
              </ul>
          
          
              <div class="container carousel-inner no-padding">
          
                <div class="carousel-item active">
          
          
                  
                  {% for news,desc,img in myitems %}
                  
                  <div class="col-lg-4 text-center">
                    <img src="{{img}}" class="rounded" width="290" height="140" alt="">
                    <h4>{{news}}</h4>
                    <p>{{desc}}</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                  </div>
                  {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
                </div><div class="carousel-item">
                  {% endif %}
          
                  {% endfor %}
              </div>
          
          
          
          </div>
          </div>
              <!-- left and right controls for the slide -->
              <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
              </a>
              
          </div>
            
          <!-- <div class="row mt-3">
            {% for news,desc,img in myitems %}
          <div class="col-lg-4 text-center">
            <img src="{{img}}" class="rounded" width="290" height="140" alt="">
            <h4>{{news}}</h4>
            <p>{{desc}}</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          {% endfor %}
        </div> -->
       
          
          
{% endblock %}